.content {
  margin: 40px auto;
  width: 300px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 480px) {
  .content {
    width: 460px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 480px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
  background-color: #ffffff;
  border-bottom: 1px solid darkgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media screen and (min-width: 768px) {
  .description {
    padding: 40px;
  }
}

.avatar {
  display: block;
  max-width: 50%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: #30d5c8;
}

@media screen and (min-width: 768px) {
  .avatar {
    margin-bottom: 40px;
  }
}

.name,
.tag,
.location {
  margin-top: 0;
}

.name {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  .name {
    margin-bottom: 15px;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 26px;
  }
}

.tag {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .tag {
    margin-bottom: 15px;
  }
}

.location {
  margin-bottom: 0;
}

.tag,
.location {
  font-size: 14px;
  font-weight: 500;
  color: darkgrey;
}

@media screen and (min-width: 480px) {
  .tag,
  .location {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .tag,
  .location {
    font-size: 18px;
  }
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeeeee;
  border-right: 1px solid darkgray;
  width: 33.33333%;
}

@media screen and (min-width: 480px) {
  .item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.item:first-child {
  border-bottom-left-radius: 5px;
}

.item:last-child {
  border-right: none;
  border-bottom-right-radius: 5px;
}

.label {
  margin-bottom: 10px;
  color: darkgrey;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 480px) {
  .label {
    font-size: 18px;
  }
}

.quantity {
  font-weight: 600;
  font-size: 14px;
}

@media screen and (min-width: 480px) {
  .quantity {
    font-size: 20px;
  }
}
